* {
  font-family: 'Times New Roman', Times, serif;

}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;

  color: white;
  background: linear-gradient(to right, rgb(83, 102, 118), rgb(41, 46, 73));
}
